<!DOCTYPE html>
<html lang = 'en'>
<head>
  <meta charset="utf-8">
	<title> Новый пост </title>
</head>
<body>
  <h1> Добавить новый пост </h1>
  <hr>
  <form action="/write" method="post">
    <label for="title"> Название </label><br>
    <input type="text" name="title" id="title"><br>
    <label for="content">Содержание</label><br>
    <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
    <button>Отправить</button>
  </form>
  </body>
</html>
